<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Log in</h1>
    <form method="POST" action="/">
        <label>Cellphone Number:</label>
        <input type="text" name="cellphone_number" required>
        <br><br>
        <labe>Password:</labe>
        <input type="password" name="password" required>
        <br><br>
        <button type="submit"> log in </button>
    </form>
    <a href="/create_account">Create account</a>
</body>

</html>